NODE_ENV=production
PORT=10000

MONGODB_URI=mongodb+srv://...

JWT_SECRET=COLOCA_UMA_STRING_LONGA_E_ALEATORIA

APP_BASE_URL=https://teu-dominio.onrender.com

BITPAY_BASE_URL=https://api-sandbox.bitpay.ao/v1
BITPAY_SECRET_KEY=sk_test_xxxxxxxxx
BITPAY_WEBHOOK_SECRET=whsec_xxxxxxxxx

HONEY_PAY_FEE_BPS=80
HONEY_PAY_CURRENCY=AOA

# Mantém false até a BitPay confirmar
# formalmente a estrutura multi-comerciante.
BITPAY_MULTI_MERCHANT_ENABLED=false
